*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.col-md-12 {
    padding: 0;
}

.body{
    max-height: 100%;
    width: 100%;
}


.left-nav .header {
    margin-left: 10px;
        ;
}

.nav-3 {
    min-height: 59px;
}

.container-noidunggamil .content{
    height: 625px;
    width: 100%;
}

