*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.col-md-12 {
    padding: 0;
}

.left-nav .header {
    margin-left: 10px;
    
}

.icon-header {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid red; 
}

 


